<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find kuka_common)/urdf/common_constants.xacro"/>
    <xacro:include filename="$(find kuka_common)/urdf/common_materials.xacro"/>

    <xacro:macro name="camera_rack" params="prefix">
        <link name="${prefix}camera_rack_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://aip_cell_description/meshes/aip_cell/visual/Gestell.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <xacro:material_kuka_ral_silver_gray/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://aip_cell_description/meshes/aip_cell/collision/Gestell.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <!-- Camera transformation -->
        <!-- <link name="$(arg prefix)camera"/>
        <joint name="$(arg prefix)rack-camera" type="fixed">
            <parent link="$(arg prefix)camera_rack_link"/>
            <child link="$(arg prefix)camera"/>
            <origin xyz="0.7 1 2.1" rpy="0 3.14 0"/>
        </joint> -->

    </xacro:macro>
</robot>